version: '3.1'

services:
  site:
    #command: "bundle install ; bundle exec jekyll serve -l --livereload-port 4001 -H 0.0.0.0 --drafts --future --force_polling"
    image: docker-jekyll-ghpages:latest
    volumes:
      - .:/srv/jekyll
    ports:
      - 4000:4000
      - 4001:4001
