<!-- Add HTML tags here to be included in the head. You can delete the below: -->

<style>
    /* Container holds both elements together */
    .input-container {
        position: relative;
        display: inline-block;
        width: 400px;
    }

    /* The actual text input field */
    .input-container input {
        width: 100%;
        padding: 10px;
        /* Extra right padding so text doesn't hide behind the button */
        padding-right: 70px;
        box-sizing: border-box;
        border: 1px solid var(--accent-color-faded)
        border-radius: 4px;
        font-size: 14px;
    }

    .input-container input:focus {
        border-color: var(--accent-color);
    }

    /* The copy button locked to the right side */
    .input-container .copy-btn {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--accent-color-faded);
        color: var(--body-color);
        border: none;
        padding: 6px 12px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
    }

    /* The copy button hover effect */
    .input-container .copy-btn:hover {
        background-color: var(--accent-color);
    }

    .comment {
        clear: both
    }

    .comment::after {
        clear: both;
        content: "";
        display: table
    }

    .comment {
        margin: 1em 0;
        font-size: .9em
    }

    .comment:not(:last-child) {
        border-bottom: 1px solid rgb(239.8,240.8,241.1)
    }

    .comment__avatar-wrapper {
        float: left;
        width: 60px;
        height: 60px
    }

    @media(min-width: 64em) {
        .comment__avatar-wrapper {
            width:100px;
            height: 100px
        }
    }

    .comment__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%
    }

    @media(min-width: 64em) {
        .comment__avatar {
            width:80px;
            height: 80px;
            padding: 5px;
            border: 1px solid rgb(239.8,240.8,241.1)
        }
    }

    .comment__content-wrapper {
        float: right;
        width: calc(100% - 60px)
    }

    @media(min-width: 64em) {
        .comment__content-wrapper {
            width:calc(100% - 100px)
        }
    }

    .comment__author {
        margin: 0
    }

    .comment__author a {
        text-decoration: none
    }

    .comment__author img {
        display: inline-block
    }

    .comment__date {
        margin: 0
    }

    .comment__date a {
        text-decoration: none
    }

</style>
